.not-displayed {
  display: none;
}

#title {
  font-size: 16px;
}

#summary {
  font-size: 35px;
}

  #summary img {
    float: right;
  }

#error-msg {
  text-align: center;
  margin-top: 50%;
  font-weight: bold;
}

.ui-header {
  background: url(../images/Badi19-96.png) no-repeat 2px center;
  background-size: contain;
}

.ui-listview {
  overflow: auto;
  max-width: 30em;
}

.ui-btn {
  /* max-width: 30em; */
}

div.line {
  margin: 3px 1em;
  overflow: auto;
}

  div.line label {
    display: inline;
    float: left;
    margin: 0;
    /* color: #666; */
  }

  div.line span {
    float: right;
  }

  div.line.now {
    color: #aaa;
  }

.ui-listview .ui-li-divider {
  text-align: center;
}

  .ui-listview .ui-li-divider label {
    float: none;
    color: #000;
  }

#btnRefresh; {
  display: none;
}

.ui-header .ui-title {
  margin: 0;
  /* font-size: 1.25em; */
}

#log {
  font-size: 9px;
  color: #666;
}