.not-displayed {
  display: none;
}

#title {
  font-size: 16px;
}

#summary {
  font-size: 35px;
}

  #summary img {
    float: right;
  }

#error-msg {
  text-align: center;
  margin-top: 50%;
  font-weight: bold;
}

.ui-header {
  background: url(../images/Badi19-96.png) no-repeat 2px center;
  background-size: contain;
}

.ui-listview {
  overflow: auto;
}

  .ui-listview > div {
    padding: .3em 1em;
    overflow: auto;
  }

    .ui-listview > div > span {
      float: right;
    }

  .ui-listview .ui-li-divider {
    text-align: center;
  }

#btnRefresh {
  display: none;
}

.ui-header .ui-title {
  margin: 0;
  /* font-size: 1.25em; */
}
